@page "/button-sample"

<h3>Variants</h3>
<RoarButton>Default</RoarButton>
<RoarButton Variant="Variant.Neutral">Neutral</RoarButton>
<RoarButton Variant="Variant.Brand">Brand</RoarButton>
<RoarButton Variant="Variant.Success">Success</RoarButton>
<RoarButton Variant="Variant.Warning">Warning</RoarButton>
<RoarButton Variant="Variant.Danger">Danger</RoarButton>
