@page "/dropdown-sample"

<h3>Getting the Selected Item</h3>
<RoarDropdown Distance="20" @bind-Value="SelectedValue">
    <RoarButton slot="trigger" WithCaret>View</RoarButton>
    <h3>Test</h3>
    <RoarDropdownItem Value="full-screen">Enter full screen</RoarDropdownItem>
    <RoarDropdownItem Value="actual">Actual size</RoarDropdownItem>
    <RoarDropdownItem Value="zoom-in">Zoom in</RoarDropdownItem>
    <RoarDropdownItem Value="zoom-out">Zoom out</RoarDropdownItem>
</RoarDropdown>
<p>Selected value: @SelectedValue</p>

@code {
    public string SelectedValue { get; set; } = "";
}
