@page "/dropdown-sample"

<h3>Getting the Selected Item</h3>
<RoarDropdown Distance="20">
    <RoarButton slot="trigger" WithCaret>View</RoarButton>
    <h3>Test</h3>
    <wa-dropdown-item value="full-screen">Enter full screen</wa-dropdown-item>
</RoarDropdown>
<RoarDropdown Distance="20.9">
    <RoarButton slot="trigger" WithCaret>View</RoarButton>
    <h3>Test</h3>
</RoarDropdown>
<RoarDropdown Distance="21">
    <RoarButton slot="trigger" WithCaret>View</RoarButton>
    <h3>Test</h3>
</RoarDropdown>

@code {

}
