@page "/font-awesome-icon-sample"

<h3>Classic family</h3>
<RoarIcon Name="eyedropper" />
<RoarIcon Name="grip-vertical" Variant="FontAwesomeVariant.Regular" />
<RoarIcon Name="play" Variant="FontAwesomeVariant.Light" />
<RoarIcon Name="star" Variant="FontAwesomeVariant.Thin" />

<h3>Duetone family</h3>
<RoarIcon Family="FontAwesomeFamily.Duotone" Name="eyedropper" />
<RoarIcon Family="FontAwesomeFamily.Duotone" Name="grip-vertical" Variant="FontAwesomeVariant.Regular" />
<RoarIcon Family="FontAwesomeFamily.Duotone" Name="play" Variant="FontAwesomeVariant.Light" />
<RoarIcon Family="FontAwesomeFamily.Duotone" Name="star" Variant="FontAwesomeVariant.Thin" />

<h3>Sharp family</h3>
<RoarIcon Family="FontAwesomeFamily.Sharp" Name="eyedropper" />
<RoarIcon Family="FontAwesomeFamily.Sharp" Name="grip-vertical" Variant="FontAwesomeVariant.Regular" />
<RoarIcon Family="FontAwesomeFamily.Sharp" Name="play" Variant="FontAwesomeVariant.Light" />
<RoarIcon Family="FontAwesomeFamily.Sharp" Name="star" Variant="FontAwesomeVariant.Thin" />

<h3>Sharp Duotone family</h3>
<RoarIcon Family="FontAwesomeFamily.SharpDuotone" Name="eyedropper" />
<RoarIcon Family="FontAwesomeFamily.SharpDuotone" Name="grip-vertical" Variant="FontAwesomeVariant.Regular" />
<RoarIcon Family="FontAwesomeFamily.SharpDuotone" Name="play" Variant="FontAwesomeVariant.Light" />
<RoarIcon Family="FontAwesomeFamily.SharpDuotone" Name="star" Variant="FontAwesomeVariant.Thin" />

<h3>Brands family</h3>
<RoarIcon Family="FontAwesomeFamily.Brands" Name="font-awesome" />
<RoarIcon Family="FontAwesomeFamily.Brands" Name="web-awesome" Variant="FontAwesomeVariant.Regular" />
<RoarIcon Family="FontAwesomeFamily.Brands" Name="github" Variant="FontAwesomeVariant.Light" />
<RoarIcon Family="FontAwesomeFamily.Brands" Name="discord" Variant="FontAwesomeVariant.Thin" />

<h3>Labels</h3>
<RoarIcon Name="star" Label="Favorite" />

<h3>Sizing</h3>
<RoarIcon Name="bell" Size="IconSize.XS" />
<RoarIcon Name="heart" Size="IconSize.S" />
<RoarIcon Name="image" Size="IconSize.M" />
<RoarIcon Name="microphone" Size="IconSize.L" />
<RoarIcon Name="search" Size="IconSize.XL" />
<RoarIcon Name="star" Size="@("50px")" />

<h3>Auto Width</h3>
<div>
    <span>Default</span>
    <RoarIcon Name="exclamation" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon Name="circle-check" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon Name="input-numeric" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon Name="ruler-vertical" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon Name="ruler-horizontal" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon Name="airplay" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
</div>

<div>
    <span>With auto width</span>
    <RoarIcon AutoWidth="true" Name="exclamation" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon AutoWidth="true" Name="circle-check" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon AutoWidth="true" Name="input-numeric" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon AutoWidth="true" Name="ruler-vertical" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon AutoWidth="true" Name="ruler-horizontal" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
    <RoarIcon AutoWidth="true" Name="airplay" Variant="FontAwesomeVariant.Solid" style="background: lightsalmon;" Size="IconSize.XL" />
</div>