@page "/"
@using ShowcaseWebApp.Services
@inject ScopedService ScopedService
@inject SingletonService SingletonService
@inject TransientService TransientService
@* @inject BackgroundService2 BackgroundService2 *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@ScopedService.GetMessage()
@SingletonService.GetMessage()
@TransientService.GetMessage()
@* Should support background service later *@
@* @BackgroundService2.StartAsync(new()) *@