@namespace RoarUI
@using RoarUI.Theme
@inject ThemeService ThemeService

<input type="text" @bind-value="@Theme.Token.Border.Style" />

<button type="button" @onclick="(e) => ThemeService.LoadTheme(Theme)">Apply</button>

@code {
    public RoarTheme Theme { get; set; } = new();
}
